body {
    background-color: beige;
}

/* CSS in Javascript Part Two */
h1 {
    color: cornflowerblue;
    transition: color .5s ease-in-out;
}

.clicked {
    color: tomato;
}

.sexy-font {
    color: red;
}